---
name: CI/CD WITH TEST CASE
on:
  push:
    branches:
      - main
jobs:
  dev-job:
    name: Run Dev Script
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: install dependecies
        run: |
          pip install requirement.txt
      - name: Run testing.py
        run: python test_calculator.py
